<div class="col-md-12 column">
    <ul class="nav navbar-nav">
        <li>
            <a href="#/statistic/chart">Chart</a>
        </li>
    </ul>
</div>
<div class="col-md-12 column">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label for="date">Start date</label>
            <input id="date" type="text" class="form-control" ng-model="param.startdate" />
        </div>

        <div class="form-group">
            <label for="account">End date</label>
            <input type="text" class="form-control" ng-model="param.enddate" />
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="runQuery()">save</button>
        </div>
    </form>
</div>

<div class="col-md-12 column">
    <div ng-include="" src="'partials/statistic/piechart.html'"></div>
</div>