<div class="col-md-12 column">
    <ul class="nav navbar-nav">
        <li>
            <a href="#/statistic/chart">Chart</a>
        </li>
    </ul>
</div>
<div class="col-md-12 column">
    <form class="form-inline" role="form">

        <div class="form-group row">
            <div class="col-xs-9">
                <label class="control-label">Start date</label>
                <div class="input-group date" b-datepicker data-date-format="dd.mm.yyyy">
                    <input class="form-control" type="date" ng-model="param.startdate" >
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-9">
                <label class="control-label">End date</label>
                <div class="input-group date" b-datepicker data-date-format="dd.mm.yyyy">
                    <input class="form-control" type="date" ng-model="param.enddate" >
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <button class="btn btn-default" ng-click="runQuery()">save</button>
        </div>
    </form>
</div>

<div class="col-md-12 column">
    <div ng-include="" src="'partials/statistic/piechart.html'"></div>
</div>