<div class="row">
    <div class="col-md-2 column">
        <a href="#/statistic/piechart" class="btn btn-default" ng-class="{active: type == 'piechart'}">Chart</a>
        <a href="#/statistic/barchart" class="btn btn-default" ng-class="{active: type == 'barchart'}">Bar</a>
    </div>
    <div class="col-md-10 column">
        <form class="form-inline" role="form">

            <div class="form-group row">
                <div class="col-xs-9">
                    <label class="control-label">Period</label>
                    <select class="form-control" ng-model="period" ng-options="p.title for p in periods" ng-change="runQuery()">
                        <option value="">-- period --</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-9">
                    <label class="control-label">Start date</label>
                    <div class="input-group date" b-datepicker data-date-format="dd.mm.yyyy" ng-model="period.startdate">
                        <input class="form-control" type="date" value="{{period.startdate}}">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-9">
                    <label class="control-label">End date</label>
                    <div class="input-group date" b-datepicker data-date-format="dd.mm.yyyy" ng-model="period.enddate">
                        <input class="form-control" type="date" value="{{period.enddate}}">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-9">
                    <label class="control-label"></label>
                    <button class="btn btn-default" ng-click="runQuery()">update</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="col-md-12 column">
    <div ng-show="!transactions"><h1>No data</h1>
        <p>Sorry, is is no data for selected period.</p></div>
    <div ng-show="transactions" ng-include="" src="chart"></div>
</div>