<div class="col-md-4 column">
    <h3>Balance: </h3>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="b in balance">{{b.account}}: {{b.amount| number:2}} €</li>
    </ul>
    <div ng-include="" src="'partials/transaction/form.html'"></div>
</div>

<div class="col-md-8 column">
    <select class="form-control" ng-model="searchPeriod" ng-options="p.name for p in searchPeriods" ng-change="fetch()">
        <option value="">-- month --</option>
    </select><br>

    <div class="btn-group">
        <button type="button" class="btn btn-primary"
                ng-model="accountFilter.model"
                btn-radio="'0'"
                ng-change="fetch()"
                >All</button>
        <button ng-repeat="acc in accounts"
            type="button" class="btn btn-primary" ng-model="accountFilter.model"
            btn-radio="acc.id"
            ng-change="fetch()">{{acc.name}}</button>
    </div><br><br>

    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th class="col-sm-1">Date</th>
                <th>Category</th>
                <th>Comment</th>
                <th class="col-sm-2 text-right">Amount</th>
                <th class="col-sm-1 text-right">Diff</th>
                <th class="col-sm-1"></th>
            </tr>
        </thead>

        <tr ng-repeat="transaction in transactions| filter:query | orderBy:'date'" class="">
            <td>{{transaction.date}}</td>
            <td><span class="glyphicon glyphicon-{{transaction.category.symbol}}"></span> {{transaction.category.name}}</td>
            <td>{{transaction.comment}}
                <span class="label label-primary" ng-show="transaction.loan.date">{{transaction.loan.date}}, {{transaction.loan.balance|number:2}} €</span>
                <span class="label label-default" ng-show="transaction.account_to">{{transaction.account}} &rarr; {{transaction.account_to.name}}</span>
            </td>
            <td class="text-right {{cssClass(transaction.amount)}}">{{transaction.amount|number:2}} €</td>
            <td class="text-right"><span class="small">{{transaction.diff|number:2}} €</span></td>
            <td>
                <a class="btn btn-xs" ng-click="edit(transaction)" title="edit"><i class="icon-pencil icon-white"></i>...</a>
                <a class="btn btn-xs" ng-click="remove(transaction)" title="delete"><i class="icon-trash icon-white"></i>X</a>
            </td>
        </tr>
    </table>
    <pagination on-select-page="setPage(page)" boundary-links="true" total-items="totalItems" max-size="maxSize" page="currentPage" class="pagination-small" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>